<head>
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.name }}</title>
    <meta name="description" value="Personal website of Stuart Campbell, human-computer liaison in San Francisco">

    <link href="http://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/skeleton.css">
    <link rel="stylesheet" href="/styles/core.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
