<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>

        <div class="container">
            <div class="row">
                <div class="three columns">&nbsp;</div>
                <div class="six columns">
                    <h1 class="masthead">
                        <a href="/">{{ site.name | upcase }}</a>
                    </h1>
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
                <div class="three columns">&nbsp;</div>
            </div>
        </div>

        <script src="/scripts/analytics.js"></script>
    </body>
</html>
