body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  /* background: #F9FFD9; */
  padding: 6rem 0;
}

h1 {
  font-family: 'Raleway Dots', serif;
}

.masthead {
  margin-bottom: 4rem;
}

.content {
  color: #474747;
}

a {
  color: #FF4100;
  text-decoration: none;
  border-bottom: 1px #FF4100 solid;
  padding: 0.1rem 0;
  font-weight: bold;
}
a:hover {
  background-color: #FF4100;
  color: #FFF;
  padding: 0.1rem 0.2rem;
  margin: 0 -0.2rem;
}

dl {
  margin: 1em 0;
  padding: 0;
}

dt {
  float: left;
}
dt:after {
  content: "\a0 \2014 \a0";
}

dd {
  margin: 1em 0;
  padding: 0;
}
