body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  padding: 6rem 0;
}

.masthead {
  font-family: 'Raleway Dots', sans-serif;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  margin-bottom: 4rem;
}
.masthead a {
  color: inherit;
  text-decoration: none;
  border: none;
  padding: none;
  font-weight: inherit;
}

.content {
  color: #474747;
}

a {
  color: #FF4100;
  text-decoration: none;
  border-bottom: 1px #FF4100 solid;
  padding: 0.1rem 0;
  font-weight: bold;
}
a:hover {
  background-color: #FF4100;
  color: #FFF;
  padding: 0.1rem 0.2rem;
  margin: 0 -0.2rem;
}

.experiment-list {
  margin: 1em 0;
  padding: 0;
}
.experiment-name {
  float: left;
}
.experiment-name:after {
  content: "\a0 \2014 \a0";
}
.experiment-description {
  margin: 1em 0;
  padding: 0;
}

.blog-index-link {
  margin: 4rem 0;
}
.blog-post-title {
  font-family: 'Raleway Dots', sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  margin: 4rem 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
.blog-post-date {
  color: #777;
  margin: 1rem 0 3rem;
}
